Source Code/NumberManipulator/obj/
Source Code/.vs/
Source Code/NumberManipulator/bin/
Source Code/packages/
Source Code/Unit Testing/bin/
Source Code/Unit Testing/obj/
Source Code/Unit Testing/Properties/AssemblyInfo.cs
